body {
    background-color: #d0d0d0;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}
.container {
    display: flex;
    width: 210mm;
    height: 297mm;
    background-color: white;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.5);
    padding-left: 10mm;
    padding-right: 10mm;
    box-sizing: border-box;
    overflow: hidden;
}
.bok_panel {
    width: 250px;
    background-color: #fee7d2;
}
.bok_panel img {
    padding-left: 25px;
    padding-right: 25px;
    padding-bottom: 50px;
    padding-top: 50px;
    width:200px;
    height: 200px;
    border-radius: 70%;
    object-fit: cover;
}
.bok_panel h3 {
    font-family: Georgia;
    padding-left: 25px;
    padding-right: 25px;
    color:#333333;
}
.bok_panel hr {
    background-color: grey;
}
.bok_panel .text {
    font-family: Georgia;
    padding-left: 25px;
    padding-right: 25px;
    color:#333333;
    font-size: 13px;
}
.main_panel {
    flex: 1;
    padding-left: 40px;
    padding-right: 25px;
}
.main_panel .name {
    font-family: Georgia;
    width: 70 px;
    height: 300 px;
    padding-bottom: 50px;
    padding-top: 50px;
}
.main_panel .answers {
    font-family: Georgia;
    color:#333333;
    padding-top: 5px;
}
